.graph-bar {
  display: flex;
  flex-direction: column;
  width:100%;
}
.graph-bar_netgains {
  background-color: white;
}
.graph-bar_aportations {
  background-color: #176BA0;
}

.graph-bar_interest{
    background-color: #19AADE;
}