.yaxis{
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    border-right: solid 3px black;
    width:10%;
}
.yaxis_label{
    border-top: solid 3px black;
    box-sizing: border-box;
}